@import '../colors.scss';

$nav-bg-color: $primary-color;

.nav {
    display: flex;     
    align-items: center;
    background: $nav-bg-color; 
    color: #e8f1f2;
    height: 48px;
}

.nav-item {
    padding: 10px 10px;
    font-size: 20px;
    font-weight: 700;
}

.nav-center{
    flex: 1;
    text-align: center;
}

.login:hover,
.logout:hover {
    background-color: lighten($nav-bg-color, 10%);
}