$body-bg-color: #bac7be;
$task-bg-color: #e8f1f2;
$primary-color: #7a9e7e;
$dark-primary-color: #31493c;
$secondary-color: #80ab82;
$success-color: #7dcd85;
$warning-color: #FED766;
$danger-color: #FE4A49;

